*, *::before, *::after {
  box-sizing: border-box;
}
html, body {
  
  height: 100%;
  margin: 0;

  font-family: sans-serif;
  }

  #root{ 
    height: 100%;
  }

  :root {
    --primary-color:black;
    --primary-bg: #fae0e4;
   --header-bg:#ff477e;
  }
