*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

nav {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 30px;
}

.logo {
  font-size: 32px;
  width: 10%;
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;

  font-family: sans-serif;
  text-align: center;
  font-size: 1.5rem;

}

.logo img {
  height: 100%;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;

}

ul {
  list-style: none;
}

main.main {
  margin: 1rem;
  background-color: #D6EAF8;
}

.menu-ctn>li {
  display: inline block;
  background-color: pink;
  padding: 15px 25px;
  transition: all 0.5s ease;
  position: relative;
  background-color: paleturquoise;
  border-radius: 2rem
}

li {
  display: inline-block;
  font-size: 20px;


}

ul.menu-ctn {
  display: inline block;
  background-color: pink;
  transition: all 0.5s ease;
  position: relative;
  border-radius: 2rem
}

ul.menu-ctn-links {
  display: inline-block;
  position: relative;
  transition: all 0.5s ease;
  background-color: paleturquoise;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 2rem;
  padding-left: 2px;
  transition: all 0.5s ease;

}

.menu-ctn li:hover {
  cursor: pointer;
  background-color: lightblue;
  border-radius: 2rem;
}

#dropdownhome,
#dropdownshop,
#dropdownabout,
#dropdowncontact {
  display: none;
  position: absolute;
  width: 100%;
  background-color: pink;
  z-index: 1;
  text-align: center;
  left: 0;
  top: 100%
}

#dropdownhome li,
#dropdownshop li,
#dropdownabout li,
#dropdowncontact li {
  padding: 10px 15px;
  text-align: center;
}

#dropdownhome.open,
#dropdownshop.open,
#dropdownabout.open,
#dropdowncontact.open {

  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 2rem;
  margin-left: 0.5rem;
  background-color: #EC7063;
}

span.gg-chevron-down-o {
  margin-left: 1rem;
  margin-top: 0rem;
}

button {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: 0;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

button:hover,
button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:open {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

nav img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  vertical-align: middle;
}

.card-purple,
.card-blue,
.card-green,
.card-yellow,
.card-orange,
.card-red:hover {
  box-shadow: none;
}

.cards {

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.card {
  border: 1px solid black;
  padding: 1rem;
  border-radius: 2rem;
  display: grid;
  justify-items: center;
  box-shadow: 3px 3px 3px 3px grey;
  grid-column: span 3;
  grid-template-rows: auto 300px 1fr auto;
}

.card {
  display: flex;
  flex-direction: column;
  grid-column-start: 3;
  grid-column-end: 10;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;

  padding: 1rem;
  margin: 0px;

  background-color: rebeccapurple;
  border-right: 1px solid black;
  border-radius: 2rem;
  background-color: pink;
  box-shadow: 3px 3px 3px 3px white;

}

.card-purple {
  background-color: #C39BD3;
}

.card-blue {
  background-color: #3498DB;
}

.card-green {
  background-color: #52BE80;
}

.card-yellow {
  background-color: #F9E79F;
}

.card-red {
  background-color: #EC7063;
}

.card-orange {
  background-color: #D35400;
}

a.card-link {
  padding: 1rem;
  background-color: alice#76D7C4;
  border-radius: 1rem;
  color: black;
  text-decoration-color: none;
}

.card {
  aspect-ratio: 1/1;
}

Footer {
  display: grid;
  background-color: pink;
}

.Footer-menu {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style-type: none;
  padding: 1rem;
  margin: 0px;
  font-size: 0.8rem;
}

header {
  padding: 0;
  margin: 0;
  width: 100%;

  font-family: Arial;
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  text-align: center;
}

footer {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  margin-right: 1rem;
  background-color: rgb(255, 192, 237);
  color: black;
  border-top: 1px solid rgb(25, 24, 24);
  box-sizing: border-box;
}

.footer-links {
  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  list-style-type: none;

  font: sans-serif;
  text-transform: uppercase;

}

li {
  margin: 0.3rem;
  padding: 0.3rem;

}

ul.footer-links {
  padding: 0%;
  margin: 0%;
}

@media screen and (min-width: 50rem) {

  html,
  body {
    display: grid;

    background-color: #D6EAF8;
  }

  .nav_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .card {
    grid-column: span 4;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;

    padding: 1rem;
    margin: 0px;
    border: 1px solid black;
    border-radius: 2rem;


    box-shadow: 3px 3px 3px 3px grey;
  }


  a.card-link {
    padding: 1rem;
    background-color: crimson;
    border-radius: 1rem;
    color: black;
    text-decoration-color: none;
  }

  .Footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  footer {
    background-color: grey;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }

}