.article__pic {
  width: 100%;
  height: 50%;

}

.article__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;


}

.link {

  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.link:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.link:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

a {
  font-size: 1rem;
}

h2 {
  text-align: center;
}

.pic-hero {
  height: 25rem;
  width: 100%;
  padding: 1rem;
}

.list {
  display: grid;
  padding: 10px;

}

.cardarticle {
  grid-gap: 1rem;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 0.3rem;

}

.cardarticle:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


@media (prefers-reduced-motion) {
  .article__pic:hover {

    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;

    transform: rotateY(180deg)
  }
}


@media (max-width: 44rem) {
  .article__list {
    grid-template-columns: 1fr;
    grid-template-rows: auto;

  }


}